{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/home.css">
<div class="blogs_haru">
    {% for x in blogs %}

        <div class="bb">
            <div class="c1">
                <div class="edits">
                    <a href="/"><strong>Edit</strong></a>
                    <a href="{% url 'delete' x.id %}"><strong>Delete</strong></a>
                </div>
                <h1>{{ x.title }}</h1>

                {% if x.image %}    
                    <img src="{{ x.image.url }}" alt="{{ x.name }}">
                {% endif %}
                <div class="details">
                    <p><strong>By {{ x.author.username|default:"testuser" }} </strong>, {{ x.created_at}}</p>
                </div>
                <p>{{ x.content|slice:":200" }}...</p> <!-- Limiting content to 200 characters -->
                <a href="{% url 'readblog' x.id %}">Read More</a> <!-- Redirect to detailed page -->
            </div>
 
            
        </div>  
    {% endfor %}
</div>

{% endblock %}